@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(90deg, #4743d0,#880868)
}

.bg img {
  height: 400px;
  width: 100%;
}

.content {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap:1rem
}

.card {
  background-color: #ff5f84;
  color: white;
  position: relative;
  margin-top: 3rem;
  padding: 2.5px;
}

.card img {
  width: 100%;
  height: 75%;
  transition: 0.5s;
}


